#version=DEVEL

# System authorization information
auth --enableshadow --passalgo=sha512

# Use CDROM installation media
cdrom

# Use graphical install
graphical

# Run the Setup Agent on first boot
firstboot --enable

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'

# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --onboot=off --ipv6=auto --no-activate
network  --hostname=localhost.localdomain

repo --name="Server-HighAvailability" --baseurl=file:///run/install/repo/addons/HighAvailability
repo --name="Server-ResilientStorage" --baseurl=file:///run/install/repo/addons/ResilientStorage

# Root password
rootpw --iscrypted $6$zTi7rxFMdi2Qq6uu$oSP1yNh6HZrZqwk32vH2d5muwaOxRxWNVMYg/2VFO8d0wNH88zkEvDElC9VSF570m/b7HYON3fMzZcV2.oQxW/

# System timezone
timezone America/Phoenix --isUtc

# System bootloader configuration
ignoredisk --only-use=sda
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda

# Partition clearing information
clearpart --initlabel --drives=sda

# Disk partitioning information
part /boot --fstype="xfs" --ondisk=sda --size=2048
part /boot/efi --fstype="efi" --ondisk=sda --size=2048 --fsoptions="umask=0077,shortname=winnt"
part pv.552 --fstype="lvmpv" --ondisk=sda --size=274436
volgroup vgroot --pesize=4096 pv.552
logvol /usr  --fstype="xfs" --size=20480 --name=lv_usr --vgname=vgroot
logvol /var/tmp  --fstype="xfs" --size=40960 --name=lv_var_tmp --vgname=vgroot
logvol /var  --fstype="xfs" --size=20480 --name=lv_var --vgname=vgroot
logvol /var/crash  --fstype="xfs" --size=20480 --name=lv_var_crash --vgname=vgroot
logvol /opt  --fstype="xfs" --size=20480 --name=lv_opt --vgname=vgroot
logvol /home  --fstype="xfs" --size=10240 --name=lv_home --vgname=vgroot
logvol /  --fstype="xfs" --size=10240 --name=lv_root --vgname=vgroot
logvol swap  --fstype="swap" --size=131072 --name=lv_swap --vgname=vgroot

%packages
@^minimal
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
